@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

/* outer-container */
#outer-container {
  /* Give app full page to work with */
  height: 100vh;
}

/* page-wrap */
#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}
/* bm-burger-button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 25px;
  top: 25px;
}
.logonav {
  left: 25px;
  top: 27px;
  line-height: 30px;
  color: #014d40;
}

/* Color/shape of burger icon bars */
/* bm-burger-bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
/* bm-cross-button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
/* bm-cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
/* bm-menu */
.bm-menu {
  background: #fff;
  padding: 3rem 0rem;
}

/* Morph shape necessary with bubble or elastic */
/* bm-morph-shape */
.bm-morph-shape {
  fill: #fff;
}

/* Wrapper for item list */
/* bm-item-list */
.bm-item-list {
}

/* Styling of overlay */
/* bm-overlay */
.bm-overlay {
}
.mobile-menu-item {
  color: #486581;
}
.mobile-menu-item:hover {
  background: #bcccdc;
}
.mobile-menu-item-active {
  background: #f0f4f8;
  color: #014d40;
}
.menulogo {
  outline: none !important;
  color: #014d40;
}

.bordermenu-item {
  opacity: 0.7;
  color: #014d40;
}

.bordermenu-item-active {
  border-bottom: 2px solid #3ebd93;
  opacity: 1;
}

.bordermenu-item:hover {
  border-bottom: 3px solid #3ebd93;
}
