@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

/* outer-container */
#outer-container {
  /* Give app full page to work with */
  height: 100vh;
}

/* page-wrap */
#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}
/* bm-burger-button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
/* bm-burger-bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
/* bm-cross-button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
/* bm-cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
/* bm-menu */
.bm-menu {
  background: #f2dcc2;
  padding: 3rem 1.5rem;
}

/* Morph shape necessary with bubble or elastic */
/* bm-morph-shape */
.bm-morph-shape {
  fill: #f2dcc2;
}

/* Wrapper for item list */
/* bm-item-list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
/* bm-overlay */
.bm-overlay {
}

#menulogo {
  outline: none !important;
  color: #91a663;
}
